{% extends "base.html" %}
{% load static %}

{% block content %}
    <p  class="fs-5">Maybe add information about OHW25 and OSM26 as well.</p>
    <div class="container my-5">
  <h2 class="text-center mb-5 text-primary">Contributors</h2>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Name</h5>
              <p class="text-muted small mb-2">Title, affiliation</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
