{% extends "base.html" %}
{% load static %}

{% block content %}
    <p  class="fs-5">
      RiptideRemix began as a small project at Ocean Hack Week 2025, but we saw the potential to expand it into a larger and more impactful initiative.
      It will be presented in the Education, Public Engagement, and Arts category at the American Geophysical Union's 2026 Ocean Sciences Meeting.
    </p>
    <div class="container my-5">
  <h2 class="text-center mb-5 text-primary">Contributors</h2>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/Isabelle.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Isabelle Brandicourt</h5>
              <p class="text-muted small mb-2">University of Washington School of Oceanography</p>
              <p class="card-text">
                Isabelle is a second-year graduate student at the University of Washington studying marine mammal acoustics and 
                new methods of acoustic sensing using fiber optics. She enjoys hiking and skiing in the Pacific Northwest, 
                as well as the occasional cold water scuba dive.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/kasey.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Kasey Castello</h5>
              <p class="text-muted small mb-2">University of California San Diego</p>
              <p class="card-text">
                Kasey is a second-year graduate student at Scripps Institution of Oceanography studying Applied Ocean Science. Her research focuses on
                developing new automated methods for acoustic data analysis. In her free time, she loves backpacking, scuba diving, and ballet.
                Her favorite oceanic sound is the crocodile bellow.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Derya Gumustel</h5>
              <p class="text-muted small mb-2">Sound Data Science</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/mattie.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Mattie Toll</h5>
              <p class="text-muted small mb-2">Ocean Science Analytics, Georgia Aquarium</p>
              <p class="card-text">
                Mattie is a bioacoustician and programmer for Ocean Science Analytics, 
                where she works on projects to analyze marine animal presence and develop automated detection networks.  
                She has also worked with marine mammals at accredited zoological facilities for more than a decade. 
                Her favorite marine sound is the dwarf minke whale Star Wars blaster.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/squirrel.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Oluwatofunmi Adeboye</h5>
              <p class="text-muted small mb-2">University of Hawaii</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm h-100">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{% static 'Images/dwight.jpg' %}" class="img-fluid rounded-start" alt="A squirrel">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-1">Dwight Owens</h5>
              <p class="text-muted small mb-2">Ocean Networks Canada</p>
              <p class="card-text">
                Dwight Owens’ career has been largely involved in training, education, science literacy, outreach and capacity development. 
                Since 2008, he has been working for one of the world’s major ocean observing facilities, Ocean Networks Canada (ONC), 
                where he coordinates ONC’s ArtScience fellowship and advances related Art & Science initiatives.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
