{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-5 text-primary">Gather More Data</h2>
    <p  class="fs-5">Hey there! Welcome to your data playground! Here, you can dive into different datasets and discover how researchers pick the perfect spots to study. Check out the “Seismic” and “Hydrophone” sections below to start exploring our data.</p>
    <div>
        <h3>Seismogram from Ocean Bottom Seismometers (OBS)</h3>
        <p  class="fs-5">Scientists use Ocean Bottom Seismometers (OBS) to measure vibrations in the seafloor, monitor earthquakes, and study the movement of Earth beneath the ocean. This helps researchers understand geological processes in ways that aren't visible from the surface. In this interface, anyone can look at the data through these seismic waveforms produced from different Earthquakes.</p>
        <p  class="fs-5">Coming soon: interactive OBS data explorer</p>
    </div>
    <div>
        <h3>Hydrophones</h3>
        <p  class="fs-5">This section isn't quite ready yet. Come back later to see how ecologists can use hydrophones to understand biological populations.</p>
    </div>
</div>
{% endblock content %}
