# Web framework
Django>=5.2,<6

# WSGI server for Heroku/Render
gunicorn>=23

# Serve static files efficiently
whitenoise>=6

# Audio processing
numpy>=2.3
scipy>=1.16
librosa>=0.11
pydub>=0.25
soundfile>=0.13
soxr>=1.0

# Plotting (spectrograms, waveforms)
matplotlib>=3.10

# Machine learning / data processing
scikit-learn>=1.8

# Networking / helpers
requests>=2.32
python-dotenv>=1.2

# Low-level dependencies
cffi>=2

# Render
psycopg2-binary
dj-database-url